@import "../../styles/themes/theme.scss";

.ui-message {
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  max-width: max-content;

  .ui-message-avatar {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 7px;
  }

  .ui-message-content {
    flex: 1;
    background-color: $color_source_white2;
    border-radius: 12px;
    padding: 10px;
    position: relative;
  }

  .ui-message-author {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
  }

  .ui-message-text {
    color: $color_source_grey2;
    font-size: 12px;
  }

  .ui-message-new {
    display: flex;
    align-self: center;
    margin-left: 8px;
    height: 100%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color_source_blue;
  }

  .ui-message-media {
    max-width: 25rem;

    @media screen and (max-width: $breakpoint_s) {
      max-width: 15rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .ui-message-reactions {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 25px;
    height: 16.5px;
    background-color: #F2F2F2;
    border-radius: 31px;
    bottom: -8px;
    border: 1px solid #fff;
    right: 18px;
  }

  .ui-message-heart-react {
    padding-right: 2px;
    margin-bottom: 1px;
  }

  .ui-message-reaction-count {
    text-align: center;
    color: #8A8A8A;
    font-size: 8px;
  }
}
